


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


.nav-link{
  font-family: "Lato", sans-serif;
  font-weight: 500 !important;
  font-size: 18px !important;
}
.mega-dropdown {
  position: static;
}
.dropdown-item{
  font-family: "Lato", sans-serif;
}
.mega-dropdown-menu {
  left: 0;
  right: 0;
  font-family: "Lato", sans-serif;
  padding: 20px 15px;
  width: 100%;
  box-shadow: none;
}
.mega-dropdown-menu > .row {
  margin: 0;

}
.dropdown-menu > li > a {
  white-space: normal;
}

.nav-link:hover{
  color: green;
   
}

.nav-link{
  color: black;
  font-weight: 500;
  font-size: large;
  margin: 0.5rem;
}
.Service-item{
  width: 20rem;
}

.dropdown-item{
  font-weight: 500;
  color: black;
  font-size: large;
}
.Service-item{
  width: 20rem;
}

.dropdown-menu .dropdown-item {
  white-space: normal; 
  display: flex;
  align-items: center;
}

.dropdown-menu .dropdown-item box-icon {
  margin: 0 10px 0 0; 
  font-size: 1.2em;
}


.call {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: all 0.9s ease-in-out; 
}
.nav-item.dropdown .dropdown-item:active {
  background-color: #8bc541 !important;
}

.call  {
  background-color: #3dad57; 
  transform: scale(1.1); 
}

/* Styling the box-icon */
.call box-icon {
  font-size: 24px; 
  color: white !important; 
  transition: color 0.9s ease-in-out; 
}


.call:hover box-icon {
  color: #fff; 
}
.phonecall{
  color: #fff !important;
  
}
/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block; 
}

.dropdown-menu {
  display: none; 
  position: absolute;
}

.dropdown-item {
  white-space: nowrap; 
  padding: 10px; /* Add some padding */
  transition: transform 0.2s; /* Smooth transition for hover effect */
}
.dropdown-menu h5{
  font-family: "Lato", sans-serif !important;
}

.dropdown-item:hover {
  transform: translateY(-2px); /* Move up slightly on hover */
}




