.mega-dropdown {
  position: static;
}
.mega-dropdown-menu {
  left: 0;
  right: 0;

  padding: 20px 15px;
  width: 100%;
  box-shadow: none;
}
.mega-dropdown-menu > .row {
  margin: 0;

}
.dropdown-menu > li > a {
  white-space: normal;
}

.nav-link:hover{
  color: green;
   
}

.nav-link{
  color: black;
  font-weight: 500;
  font-size: large;
  margin: 0.5rem;
}
.Service-item{
  width: 20rem;
}

.dropdown-item{
  font-weight: 500;
  color: black;
  font-size: large;
}
.Service-item{
  width: 20rem;
}

.dropdown-menu .dropdown-item {
  white-space: normal; 
  display: flex;
  align-items: center;
}

.dropdown-menu .dropdown-item box-icon {
  margin: 0 10px 0 0; 
  font-size: 1.2em;
}


.call {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: all 0.9s ease-in-out; 
}


.call  {
  background-color: #3dad57; 
  transform: scale(1.1); 
}

/* Styling the box-icon */
.call box-icon {
  font-size: 24px; 
  color: white !important; 
  transition: color 0.9s ease-in-out; 
}


.call:hover box-icon {
  color: #fff; 
}
.phonecall{
  color: #fff !important;
  
}
/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block; 
}

.dropdown-menu {
  display: none; 
  position: absolute;
}

.dropdown-item {
  white-space: nowrap; 
}

