
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}


    .form_btn button{
        background-color: #8BC541;
        padding: 12px 20px;
        font-size: 18px;
        color: #fff;
        font-weight: 800;
    }
    
    .form_btn button:hover{
        background-color: #8BC541;
        color: #0000006e;
       
    }
    .contact_heading{
        background-color: #f2f6fb;
        padding: 16px;
    }
    .heading-rach h1 {
        font-size: 52px;
        font-weight: 600;
    }
    .heading-rach h6 {
        font-size: 42px;
        font-weight: 600;
    }
    .heading-rach p {
        font-size: 18px;
    }
    .address-item {
        padding: 10px 0; 
      }
      
      .address-item a {
        color: #007bff; 
        text-decoration: none;
        display: flex; 
      
      }
      
      .address-item a:hover {
        text-decoration: underline; 
      }
      
    .heading-rach span{
    color: #8BC541;
    }
    .reach_location{
            background-color: #eff8fc;
            height: 320px;
            padding: 40px 20px;
            border-radius: 20px;
    }
    .spactless_hero{
        background-image: url(./assest/image/glass/hero.png);
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .spactless_hero h2{
        font-size: 56px;
        font-weight: 800;
        color: #8BC541;
    }
    .glass_card1 h1{
        font-size: 42px;
        color: #fff;
        text-align: center;
        margin: 10px 0;
    }
    @media screen and (min-device-width: 767px) and (max-device-width: 992px){
        .reach_location{
            margin: 10px;
     }
    }
    @media screen and (min-device-width: 320px) and (max-device-width: 767px){
        .heading-rach p {
            font-size: 20px;
        }
        .heading-rach h6 {
            font-size: 26px;
            
        }
        .reach_location{
           margin: 10px;
    }
    }


